#aboutContainer {
    z-index: 8;
    min-height: 100vh;
    /* border-bottom: 3px solid white; */

}

@media screen and (max-width:420px) {
    #aboutContainer {
        min-height: 125vh;
    }
}

@media screen and (max-width:300px) {
    #aboutContainer {
        min-height: 155vh;
    }
}