#homeContainer {
    /* border: 1px solid yellow; */
    /* width: 100vw; */
    height: 100vh;
    margin: 0;
    padding: 0;
    /* margin-top: 4em; */
    background-color: black;
    /* background-image: url('https:/iili.io/HnpjS5l.jpg');
    background-size: cover; */
}


#intro {
    position: absolute;
    /* top: 35vh; */

    /* background-color: black; */
    border-radius: 20px;
    /* padding: 1em 2em; */
    align-self: center;
    z-index: 9;
}

#intro h2 {
    /* opacity: 0. */
    overflow: hidden;
    /* border-right: 5px solid #b28aff; */
    /* white-space: nowrap; */
    animation: typing 5s steps(22, end) infinite, blink-caret 1s step-end infinite;
    letter-spacing: 3px;
    background-color: #00000099;
    /* animation-delay: 4s; */
    /* margin: 0 auto; */
    /* border-right: 3px solid white; */
}

/* 
@keyframes typing {
    0% {
        width: 0
    }

    5% {
        width: 0;
    }

    25% {
        width: 100%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 0%
    }
} */

/* @keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(252, 166, 74);
    }
} */



#homeContainer video {
    /* opacity: 0.2; */
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
    pointer-events: none;
    background: transparent;
    border-bottom: 1px solid transparent;
    z-index: 3;
}

#videoPlaceholder {
    object-fit: cover;
    height: 100vh;
}