#projContainer {
    height: 110vh;
}

#projHouse {
    /* background-color: black; */
    overflow-x: scroll;
    overflow-y: none;
}

.singleProject {
    border-radius: 10px;
}

#projButtons {
    /* height: 5vh;
    margin: .25em; */
}

.projectPreview {
    max-height: 30%;

    /* object-fit: cover; */
    margin: 0 auto;
}