#projContainer {
    min-height: 100vh;
}

#projHouse {
    /* background-color: black; */
    height: 73vh;
    overflow-x: scroll;
    overflow-y: none;
}

.singleProject {
    border-radius: 10px;
}

#projButtons button {
    background-color: #1a1a1a;
    color: white;
}

.projectPreview {
    max-height: 30%;

    /* object-fit: cover; */
    /* margin: 0 auto; */
}